/* content-3-1 */
#content-3-1 {
  background-color: #ffffff;
  margin: 48px 0;
  padding: 48px 0;
}
#content-3-1 h3 {
  font-size: 20px;
  color: #800080;
  font-weight: 900;
}
#content-3-1 p {
  font-size: 18px;
  color: #212529;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #content-3-1 .col-middle {
    border-left: 1px solid #666666;
    border-right: 1px solid #666666;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}