/* content-2-6 */
#content-2-6 {
  background-color: #EFEDE6;
  padding: 72px 0;
}

#content-2-6 h2 {
  font-size: 30px;
  color: #282828;
  font-weight: 900;
}

#content-2-6 span {
  color: #FBBD47;
}

.content-2-6-content {
  font-size: 20px;
  color: #282828;
  margin: 0;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}