/* content-3-5 */
#content-3-5 {
  background-color: #ffffff;
  margin: 48px 0;
  padding: 48px 0;
}
#content-3-5 h2 {
  font-size: 30px;
  color: #0D5A7B;
  font-weight: 900;
}
#content-3-5 h3 {
  font-size: 20px;
  color: #0D5A7B;
  font-weight: 900;
}
#content-3-5 p {
  font-size: 18px;
  color: #000000;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}