/* full-1 */
#full-1 {
  background-image: url(../images/full-1-bg-575.png);
  background-position: center top;
  background-repeat: no-repeat;
  height: 820px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #full-1 {
    background-image: url(../images/full-1-bg-991.png);
    height: 820px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #full-1 {
    background-image: url(../images/full-1-bg-1920.png);
    height: 820px;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}